{% extends 'base.html'%}

{% block head %}
<title>Task Smash</title>
{% endblock %}


{% block body %}
<div>
    <h1>Task Smash 2.0</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Priority</th>
        <tr>
        <tr>
            <td>Content</td>
            <td>Data</td>
            <td>More</td>
    <table
    <form action="">
        <input type="text" name="content" id="content" placeholder="Task" />
        <input type="submit" value="Add Task" id="btn_Add" />
    </form>
</div>
{% endblock %}